*{
    box-sizing: border-box;
}


body  {
    background:  radial-gradient(#D1FFC6, #CFFFC4, #31af11);
 
}

 
.wrapper

{

display: flex;
justify-content: center;
align-content: center;
margin: 50px;
/* margin: 30px; */

}

.container {
    background: rgb(62, 182, 112);
    height: 750px;
    width: 1200px;

    display: flex;
    justify-content: center;
align-items: center;
align-content: center;
 
    
   


}

.bounding {
    
    height:652px;
    width: 1047px;

    
display: flex;
justify-content:flex;
 
 
 


}

.if {
    background: #CFFFC4;
    height: 113px;
    width: 113px;
    margin-top: 30px;
    margin-left: 10px;

    animation: ifslide 5s;
    animation-iteration-count: 1;
}

.iftxt {
    text-align: center;

}

.you {
    background: #CFFFC4;
    height: 113px;
    width: 113px;
    margin-right:auto;
    margin-top: 140px;

    animation: youslide 5s ;
    animation-iteration-count: 1;
     

}

.like

{
    background: #CFFFC4;
    height: 95px;
    width: 95px;
    margin-top: 540px;
    margin-right: auto;
    
    animation: liked 5s infinite;
}


.me  {

    background: #CFFFC4;
    height: 95px;
    width: 95px;
    margin-top: 540px;
    margin-right: auto;
    
    animation: me 5s infinite;

}

.you {
    background: #CFFFC4;
    height: 95px;
    width: 95px;
    margin-top: 540px;
    margin-right: auto;
    
    animation: you 5s infinite;



}

.would {
    background: #CFFFC4;
    height: 95px;
    width: 95px;
    margin-top: 140px;
    margin-right: 200px;
    
    animation: would 5s infinite;
}
 

 

.would {

}

.have {

}

.gotten {

}

.me {

}

.hot {

}

.kid {

}

.milk {
    
}

@keyframes ifslide {
    0% {transform: translate(0);

    }

    50% {transform: translate(880px);

    }

    100% {transform: translate(0);

    }

}

@keyframes youslide {
    0% {transform: translate(0,0);

    }

    50% {transform: translate(0,350px);}

    /* 70% {transform: translate(200px,200px);} */

    75% {transform: translate(200px,0);}

    80% {transform: translate(200px)}


    /* 80% {transform: translate(0,0);} */

    }

@keyframes liked {
    0% {transform: translate(0 );

    }

    50% {transform: translate( 350px,0);}

    /* 70% {transform: translate(200px,200px);} */
 
}

@keyframes me {
    0% {transform: translate(350px);

    }

    50% {transform: translate(400px);}

     

    }

@keyframes you {

0% {transform: translate(0,0 );}

50% {{transform: translate(400px, 0);}}
    
}

@keyframes would {
    0% {transform: translate(0);}

50% {{transform: translate(500px);}}

}


/* 
    70% {transform: translate(70,0px);

    80% {transform: translate(0, 0)}; */

    


