*{
    box-sizing: border-box;
}


body {
    background-color: rgb(248, 229, 187);
        transition:background 1s}
 
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;}