*{
    box-sizing: border-box;
}
 
.flex {
    background:rgb(157, 246, 194);
    display:flex;
    
    align-items: center;
     
  }
  
   .right {
    width:30%;
    height: 700px;
    padding:70px;
    align-items: center;
    transition:background 3s, padding 1s;
    overflow: auto; 
   }
    .right:hover 
    {background-color: aquamarine;

    }
  
  
  .left {
    width:70%;
    height: 700px;
    padding:70px;
    align-items: center;
    transition:background 3s, padding 1s;
    overflow: auto; 
  }

  .left:hover 
  {background-color: rgb(127, 191, 255);

  }
  .left {
    border-right:1px solid cornflowerblue;
    background-color: rgb(182, 249, 168);
    border: solid 2px ;
    font-size: 40pt;
  }

  .right {
    background-color: rgb(182, 249, 168);
    border: solid 2px ;
  }
  
  .phrase {
    display:none;
    animation: text 5s infinite;
  }
  
  .one {
    display:block;
  }
  
  body {
    background:linear-gradient(rgb(182, 249, 168), rgb(159, 253, 159), rgb(104, 254, 131));
  }
  @media screen and (max-width:1000px) {
    body {
      background: rgb(182, 249, 168);
    }
    
    .phrase {
      display: none;
    }
    
    .two {
      display: block;
    }
  }
  
  @media screen and (max-width 950px) {
    /* body {
      background: rgb(255, 86, 44);
    } */
    
    .phrase {
      display: none;
    }
    
    .three {
      display: block;
    }
  }
  
  @media screen and (max-width: 800px) {
    /* body { background: rgb(255, 8, 8);
  } */

  .phrase {
    display: none;
  }

  .four {
    display: block;
  }
}


@media screen and (max-width: 750px) {
    /* body { background: rgb(255, 209, 59);
  } */

  .phrase {
    display: none;
  }

  .five {
    display: block;
  }
}


@media screen and (max-width: 600px) {
    body { background: rgb(235, 180, 140);
  }

  .phrase {
    display: none;
  }

  .six {
    display: block;
  }
}

@keyframes text {
  0% {color: rgb(49, 157, 252);}

  100% {color: rgb(154, 95, 255);}
}
