body {
    
    background-color:rgb(122, 102, 81);
    cursor: url('favicon-01.png'), default;

}

h1 {

    font: Book Antiqua italic ;
}



a {

    text-decoration: none;
    color:rgb(65, 36, 9)

     
}


table 

{
     
    border-collapse: collapse;
    background-color: rgb(252, 201, 154);
    width: 35%;
    height: 200px;
  background-image: linear-gradient(to right, rgba(153, 129, 129, 0),  rgb(253, 149, 149));
  opacity: .6;


   

}


th :hover

{
    background-color: rgb(255, 176, 176)

}

button 

{
    

  
        background-color:  rgb(132, 134, 221);
        padding: 20px;
}
 

#marquee

{
    width: "60%";
    height: "30%";
    direction: right;

}





#dreams
{ padding: 20px;
  width: 20%;
  margin: 10px;
  background-color: rgb(252, 201, 154)

}

summary

{

    font-size: 30px;
    background-color: bisque;
   
     
}